<ion-view cache-view="false" view-title="">    
  <ion-content>
    <ion-slide-box style="margin-bottom:20px;">
      <ion-slide>
        <div class="box firstslide" style="height:{{screenhieght}}px">
          <h2>GET STARTED</h2>
          <h3>Create profile Now!</h3>
          <p>With Apptronize, you can connect with businesses and professionals in your local area.  Using the same app, you can promote customer loyalty too. Watch our Video to learn how it works!</p>
          <img src="img/slide1.png" />
          <div style="width:{{screenwidth}}px;position:absolute; bottom:0px;">
            <button class="button button-block" ng-click="gototerms()">SKIP</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box secondslide" style="height:{{screenhieght}}px">
          <img src="img/slide2.png" />          
          <h3>Apptronize network!</h3>
          <p>Looking for services but can't trust directory listings? Don't just search at random; find a provider or a professional from the Apptronize network.</p> 
          <div style="width:{{screenwidth}}px;position:absolute; bottom:0px;">
            <button class="button button-block" ng-click="gototerms()">SKIP</button>
          </div>        
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box thirdslide" style="height:{{screenhieght}}px">
          <img src="img/slide3.png" />          
          <h3>It is simple and powerful!</h3>
          <p>Apptronize is a mobile tool for business owners and professionals - it is simple and powerful.  It is also a very effective CRM platform right in the palm of your hands.</p>
          <div style="width:{{screenwidth}}px;position:absolute; bottom:0px;">
            <button class="button button-block" ng-click="gototerms()">NEXT</button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>